.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  select {
    -webkit-appearance: none;
    padding: 10px 20px;
    width: auto;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: Roboto;
    font-size: 18px;
    transition: all 150ms ease;
  }
  select:required:invalid {
    color: #5a667f;
  }
  select option {
    color: #223254;
  }
  select option[value=""][disabled] {
    display: none;
  }
  select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  }
  select:hover {
    border-color: #07f;
  }